<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title || 'Gritos.com'%></title>
  <meta property="og:title" content="<%= htmlWebpackPlugin.options.title || 'Gritos.com'%>" />
  <meta property="og:image" content="https://gritos.com/assets/logogritos.jpg" />
  <meta property="og:image:secure_url" content="https://gritos.com/assets/logogritos.jpg" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:width" content="1024" />
  <meta property="og:image:height" content="1024" />
  <meta property="og:url" content="https://gritos.com" />
  <meta property="fb:app_id" content="472185159492660" />
  <meta property="og:description" content="Expresa libremente y sin ningún tipo de tapujos tu opinión sobre el tema que quieras." />
  <meta name="description" content="Expresa libremente y sin ningún tipo de tapujos tu opinión sobre el tema que quieras.">
  <meta name="keywords" content="Foros, opinion, participa, grita">
  <meta name="author" content="Nacho Carmona">

  <% if (htmlWebpackPlugin.files.favicon) { %>
  <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
  <% } %>

  <% if (htmlWebpackPlugin.options.manifest) { %>
  <link rel="manifest" href="<%= htmlWebpackPlugin.options.manifest%>">
  <% } %>

  <% if (htmlWebpackPlugin.options.mobileIcons) { %>
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  <% } %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="google-site-verification" content="nhdMmpC7s40gPS_GMTE69340pG2sWpYlaKYBeT2f9UU" />

  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
  <!-- Add the slick-theme.css if you want default styling -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.2.1/material.light_green-red.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <% for (var css in htmlWebpackPlugin.files.css) { %>
  <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
  <% } %>

  <% if (htmlWebpackPlugin.options.baseHref) { %>
  <base href="<%= htmlWebpackPlugin.options.baseHref %>" />
  <% } %>

  <% if (htmlWebpackPlugin.options.messagesPath) { %>
  <script src="<%= htmlWebpackPlugin.options.messagesPath%>"></script>
  <% } %>

  <script src="https://storage.googleapis.com/code.getmdl.io/1.2.1/material.min.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108283891-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-108283891-1');
  </script>

</head>
<body>
  <% if (htmlWebpackPlugin.options.appMountId) { %>
  <div id="<%= htmlWebpackPlugin.options.appMountId%>"></div>
  <% } %>

  <% if (htmlWebpackPlugin.options.window) { %>
  <script>
    <% for (var varName in htmlWebpackPlugin.options.window) { %>
      window['<%=varName%>'] = <%= JSON.stringify(htmlWebpackPlugin.options.window[varName]) %>;
    <% } %>
  </script>
  <% } %>

  <% if (htmlWebpackPlugin.options.unsupportedBrowser) { %>
    <script>
      var $buoop = {
        vs:{i:11,f:-4,o:-4,s:7},
        mobile: false,
        c:4,
        reminder: 24,
        reminderClosed: 150
      };
      function $buo_f(){
       var e = document.createElement("script");
       e.src = "//browser-update.org/update.min.js";
       document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
    </script>
  <% } %>

  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" crossorigin="anonymous"></script>
  <% } %>

  <% if (htmlWebpackPlugin.options.devServer) { %>
  <script src="<%= htmlWebpackPlugin.options.devServer%>/webpack-dev-server.js" crossorigin="anonymous"></script>
  <% } %>

  <noscript>
    <p>
      Hace falta Javascript para que funcione Gritos.com<br />
      Porfa, activalo o actualiza tu navegador o algo...
    </p>
  </noscript>
</body>
</html>
