<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title || 'Webpack App'%></title>

  <% if (htmlWebpackPlugin.files.favicon) { %>
  <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
  <% } %>

  <% if (htmlWebpackPlugin.options.manifest) { %>
  <link rel="manifest" href="<%= htmlWebpackPlugin.options.manifest%>">
  <% } %>

  <% if (htmlWebpackPlugin.options.mobileIcons) { %>
  <link rel="apple-touch-icon" sizes="57x57" href="__assets__/icons/apple-touch-icon-57x57.png?v=qAAnjEq5Jv">
  <link rel="apple-touch-icon" sizes="60x60" href="__assets__/icons/apple-touch-icon-60x60.png?v=qAAnjEq5Jv">
  <link rel="apple-touch-icon" sizes="72x72" href="__assets__/icons/apple-touch-icon-72x72.png?v=qAAnjEq5Jv">
  <link rel="apple-touch-icon" sizes="76x76" href="__assets__/icons/apple-touch-icon-76x76.png?v=qAAnjEq5Jv">
  <link rel="apple-touch-icon" sizes="114x114" href="__assets__/icons/apple-touch-icon-114x114.png?v=qAAnjEq5Jv">
  <link rel="apple-touch-icon" sizes="120x120" href="ico__assets__/icons/apple-touch-icon-120x120.png?v=qAAnjEq5Jv">
  <link rel="apple-touch-icon" sizes="144x144" href="ico__assets__/icons/apple-touch-icon-144x144.png?v=qAAnjEq5Jv">
  <link rel="apple-touch-icon" sizes="152x152" href="ico__assets__/icons/apple-touch-icon-152x152.png?v=qAAnjEq5Jv">
  <link rel="apple-touch-icon" sizes="180x180" href="ico__assets__/icons/apple-touch-icon-180x180.png?v=qAAnjEq5Jv">
  <link rel="icon" type="image/png" href="ico__assets__/icons/favicon-32x32.png?v=qAAnjEq5Jv" sizes="32x32">
  <link rel="icon" type="image/png" href="ico__assets__/icons/favicon-194x194.png?v=qAAnjEq5Jv" sizes="194x194">
  <link rel="icon" type="image/png" href="ico__assets__/icons/favicon-96x96.png?v=qAAnjEq5Jv" sizes="96x96">
  <link rel="icon" type="image/png" href="ico__assets__/icons/android-chrome-192x192.png?v=qAAnjEq5Jv" sizes="192x192">
  <link rel="icon" type="image/png" href="ico__assets__/icons/favicon-16x16.png?v=qAAnjEq5Jv" sizes="16x16">
  <% } %>

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="mobile-web-app-capable" content="yes">

  <% for (var css in htmlWebpackPlugin.files.css) { %>
  <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
  <% } %>

  <% if (htmlWebpackPlugin.options.baseHref) { %>
  <base href="<%= htmlWebpackPlugin.options.baseHref %>" />
  <% } %>

  <!-- This script should contain the messages that should be used by the app.
       In the development environment, this is proxied by webpack-dev-server in the /../webpack/webpack.dev.server.js file.
       Look for the `proxy` key and this address. -->
  <% if (htmlWebpackPlugin.options.messagesPath) { %>
  <script src="<%= htmlWebpackPlugin.options.messagesPath%>"></script>
  <% } %>

  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.2.1/material.light_green-red.min.css" />
  <script src="https://storage.googleapis.com/code.getmdl.io/1.2.1/material.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>
  <% if (htmlWebpackPlugin.options.appMountId) { %>
  <div id="<%= htmlWebpackPlugin.options.appMountId%>"></div>
  <% } %>

  <% if (htmlWebpackPlugin.options.window) { %>
  <script>
    <% for (var varName in htmlWebpackPlugin.options.window) { %>
      window['<%=varName%>'] = <%= JSON.stringify(htmlWebpackPlugin.options.window[varName]) %>;
    <% } %>
  </script>
  <% } %>

  <% if (htmlWebpackPlugin.options.unsupportedBrowser) { %>
    <script>
      var $buoop = {
        vs:{i:11,f:-4,o:-4,s:7},
        mobile: false,
        c:4,
        reminder: 24,
        reminderClosed: 150
      };
      function $buo_f(){
       var e = document.createElement("script");
       e.src = "//browser-update.org/update.min.js";
       document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
    </script>
  <% } %>

  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" crossorigin="anonymous"></script>
  <% } %>

  <% if (htmlWebpackPlugin.options.devServer) { %>
  <script src="<%= htmlWebpackPlugin.options.devServer%>/webpack-dev-server.js" crossorigin="anonymous"></script>
  <% } %>
</body>
</html>
